<navbar title="Application" icon="icon-gf icon-gf-users">
</navbar>

<div class="page-container" ng-form="playlistEditForm">
	<div class="page-header">
		<h1>New Application</h1>
	</div>

	<p class="playlist-description">Each application contains their own dashboards, data sources and configuration, and cannot be shared between apps. While users may belong to more than one, mutiple application are most frequently used in multi-tenant deployments. </p>

	<form>
		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label width-10">App. name</span>
				<input type="text" ng-model="newOrg.name" required class="gf-form-input max-width-21" placeholder="application name">
			</div>
			<br>
			<div class="gf-form-buttons-row">
				<button type="submit" class="btn btn-success" ng-click="createOrg()">Create</button>
			</div>
		</div>
	</form>
</div>
